






@{
    //  var item = Sitecore.Context.Database.GetItem("/sitecore/content/Home/Demo/Websitesettings/Localsettings");
    var item = Sitecore.Context.Database.GetItem("{3A399232-1218-4AA2-B544-98AEB9821223}");
}


<Footer>
    <div class="container">
        <div class="text-white bg-primary">
            <p class="lead"> @Html.Sitecore().Field("Copyright", item)</p>
        </div>
    </div>
</Footer>

